@model SistemaVenda.Models.GraficoViewModel;
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<html>
<head>
    <style>
        #myChart {
            height: 400px !important;
            width: 100% !important;
        }
    </style>
</head>
<body>
    <div class="The-title">
        <h2>Gráfico de Vendas</h2>
        <hr />
    </div>
    <div id="canvas-div">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        const ctx = document.getElementById('myChart');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [@Html.Raw(ViewBag.labels)],
                datasets: [{
                    label: 'Quantidade de Vendas por Produto',
                    data: [@Html.Raw(ViewBag.values)],
                    backgroundColor: [
                       @Html.Raw(ViewBag.cores)
                    ],
                    borderColor: [
                        @Html.Raw(ViewBag.cores)
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>